{
  "extends": ["@commitlint/config-angular"],
  "preset": "angular",
  "rules": {
    "body-tense": [0],
    "footer-leading-blank": [0],
    "footer-tense": [0],
    "header-max-length": [1, "always", 120],
    "lang": [0],
    "subject-tense": [0]
  }
}
